{% load books_tags %}
{% load static %}


<div class="pagination">
  <a href="{% if page_obj.has_previous %}{% url_replace page=page_obj.previous_page_number %}{% else %}#{% endif %}" class="pagination__btn pagination__btn--nav">
    <img src="{% static 'deps/svg/chevron-right.svg' %}" alt="Previous" style="transform: rotate(180deg)">
  </a>
  {% if page_obj.number > 4 %}

    <a href="{% url_replace page=1 %}" class="pagination__btn">1</a>

    {% if page_obj.number > 5 %}

      <span class="pagination__ellipsis">…</span>

    {% endif %}

  {% endif %}

  {% for p in page_obj.paginator.page_range %}

    {% if p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %}

      <a href="{% url_replace page=p %}" class="pagination__btn {% if p == page_obj.number %}active{% endif %}">{{ p }}</a>

    {% endif %}

  {% endfor %}

  {% if page_obj.paginator.num_pages > page_obj.number|add:3 %}

    <span class="pagination__ellipsis">…</span>
    <a href="{% url_replace page=page_obj.paginator.num_pages %}" class="pagination__btn">{{ page_obj.paginator.num_pages }}</a>
  {% endif %}

  <a href="{% if page_obj.has_next %}{% url_replace page=page_obj.next_page_number %}{% else %}#{% endif %}" class="pagination__btn pagination__btn--nav">
    <img src="{% static 'deps/svg/chevron-right.svg' %}" alt="Next">
  </a>
</div>